#header
{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 120px;
    
    margin: auto;
    position: fixed;
    background-color: white;
    margin-top: -30px;
}
#logo
{
    width: 170px;
    height: 100px;
    margin-left: 20px;
}
.dropbtn {
   
    color:rgb(36, 40, 47);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-size: 20px;
    font-family: Poppins,sans-serif;
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  
#options
{
    display:grid;
   grid-template-columns: repeat(7,1fr);
   justify-content: center;
   
   font-family: "Poppins",sans-serif;
   
   font-weight: 10;
   margin-top: 20px;
   font-size: 13px;
font-weight: 0;
line-height: 1.75;
letter-spacing: .01em;
  
}
.loginbutton{
    width: 100px;
    height: 60px;
    border-radius: 100px;
    color: #5b47e3;
    font-size: 20px;
    background-color: white;
   font-weight: bold;
   margin-left: -50px;   
   margin-top: -10px;
}
.signupbutton{
    width: 100px;
    height: 60px;
    border-radius: 100px;
    background-color: #5b47e3;
    font-size: 20px;
    color: white;
    font-weight: bold; 
    font-family: "Poppins",sans-serif;
    margin-left: -50px;  
    margin-top: -10px; 
   
   
}
#icont{
    display: grid;
    grid-template-columns: repeat(3,277px);
    grid-template-rows:repeat(1,490px) ;
    margin:auto ;
    width: 70%;
    gap: 40px;
    border-radius: 10px;
}
#icont>div{

  padding: auto;

  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#icont>div>img{
width:276px;
height: 276px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
#imain{
  padding: 50px 0px 50px 590px;
  font-family: sans-serif;
}
#tpp{
 font-size: 21px;
  padding-left: 30px;
 font-family: sans-serif;
 line-height: 30px;
}
#tp{
  padding-left:10px ;
  color: #24282f;
  
}
#tppp{
  text-align: end;
  padding-right: 10px;
 
}
#cont{
display: grid;
width: 70%;
grid-template-columns:repeat(2,450px);
grid-template-rows: repeat(3,120px);
row-gap: 20px;
column-gap: 50px;
margin: auto;

}


#myi{
padding: 20px 0px 40px 570px;
size: 50px;
font-family: sans-serif;
}
#cont>div>h2{
font-size: 20px;
line-height: 30px;
font-family:  "Poppins",sans-serif;

}
#cont>div>h2>a{
color: #5846f6;
}

#lst{
  height: 511px;
  width: 80%;
  border:1px solid royalblue;
  background-image: url("	https://storage.googleapis.com/lumen5-site-images/website-assets/cta-bg.png");
  margin: auto;
  border-radius: 20px;
  text-align: center;
  margin-top: 50px;
}
#llst{
 
  width: 545px;
  height: 145px;

 margin: auto;
 margin-top: 20px;
 text-align: center;
 

}
#lllst{

  width: 545px;
  height: 87px;
 
  margin: auto;

  text-align: center;
  padding-bottom: 20px;


}
#llst>h3{
font-size: 35px;
line-height: 35px;
text-align: center;
color: white;
font-family:sans-serif;

}
#lllst>h5{
font-size: 22px;
line-height: 30px;
text-align: center;
color: white;
font-family:sans-serif;


}
#btn{
height: 55px;
width: 145px;
border : 1px solid white ;
background-color: white;
color: blueviolet;
border-radius: 50px;
margin: auto;
margin-top: 40px;


}
#btn>p{
font-family:sans-serif ;
padding-top: 2px;

}

body{
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
}
.footerp{
  color: #f0f0f4;
  font: size 14px;
  /* text-align: right; */
  margin: 8px 0px 16px;
  width:224px;
  height:105px;
  /* margin-left: 68px; */
}

#main_div{
  margin-top: 40px;;
  height: 420px;
  width: 100%;
  display: grid;
  grid-template-columns: 320px 716px ;
  grid-template-rows: 373px;
  /* border: 1px solid blue; */
  justify-content: space-evenly;
  background-color: #222222;
  padding:0px 0px;
  /* padding-left: 70px; */
  padding-bottom: 0px;
}
#copyright{
  height:65px;
  width:100%;
  background-color: #1B1B1B;
  padding:0px 0px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
#left{
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  justify-content: right;
  /* border: 1px solid red; */
}
#right{
  margin-top: 50px;
  /* padding-right: 210px; */
  display: flex;
  justify-content:space-evenly;
  
  
}
ul{
  padding: 0px;
}

li{
  list-style-type: ">";
  margin: 16px 0px;
  padding-left: 0px;
  border-bottom: 0.000001px solid grey;
}

ul li::before {
  content: "";
  color:white;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.anchor{
  color: #C8CBD9;
}
.anchor:hover{
  color: white;
}
.right{
  color: white;
  font-size: 16px;
  padding: 8px 0px;
  margin:0px 0px 26px;
  display: block;
}


